.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}
.header h2 {
  /* Hello, Manager! */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.09em;
}
.nameDateMsg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#date {
  /* 12 Apr 2022, Tuesday */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #908f8c;
}
#bell {
  color: #ff8315;
  margin: 0 30px;
  background-color: #ffeeea;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* Span */
#hello {
  color: #908f8c;
}
